# Keep secrets secret
.env
*.db

# Node build artifacts  
node_modules/
dist/

# OS/IDE junk
.DS_Store
.vscode/
*.swp

# Ignore the app directory and its contents
app/

# Ignore Terraform local state and providers
.terraform/